# Editors
# =======
.*code
.idea
*.todo
*.history

# Build artefacts
# ===============
.terraform
terraform.tfstate.d
node_modules
package-lock.json
gcp-typescript-kata-birthday.zip
dist
coverage
*.log
*.tgz
*.DS_Store
tfplan

# Misc files
# ==========
*.DS_Store
gcp-travis-bot-service-account-auth.json
gcp-auth.json
#

# Serverless
.serverless
.env
tmp
.coveralls.yml
